@model IEnumerable<FPisher.Models.Login_records>

@{
    ViewData["Title"] = "Login Records";
}
<body style="
    margin: 0;
    min-height: 100vh;
    background-color: black;
    background-image: url('/images/binary.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
">
    <div style="color: mediumspringgreen; font-family: monospace; padding: 20px;">
        <h1>Login Records</h1>
    </div>
</body>




<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="color: white; font-family: monospace;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.uname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.uname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pass)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
